<div class="register-page">
    <div class="register-container">
      <h1>Kayıt Ol</h1>
      <form [formGroup]="companyForm" (ngSubmit)="onRegister()">
      <div class="p-fluid">
        <div class="p-field">
          <label for="company_name">Şirket Adı *</label>
          <input id="company_name" type="text" pInputText formControlName="name" />
        </div>

        <div class="p-field" [formGroup]="ownerForm">
          <label for="owner_full_name">Yetkili Kişi *</label>
          <input id="owner_full_name" type="text" pInputText formControlName="first_name" />
        </div>
        <div class="p-field">
          <label for="phone">Telefon *</label>
          <input id="phone" type="text" pInputText formControlName="contact_phone" />
        </div>
        <div class="p-field">
          <label for="email">E-posta *</label>
          <input id="email" type="email" pInputText formControlName="contact_email" />
        </div>
        <div class="p-field" [formGroup]="subscriptionForm">
          <label for="password">Abonelik türü *</label>
            <p-dropdown 
            formControlName="subscription_type" 
            [options]="subscriptionTypes"
            optionLabel="name" 
            optionValue="id"
            placeholder="Abonelik türünü seçiniz" />
        </div>

        <button pButton type="submit" label="Kayıt Ol" class="p-button-raised p-button-primary"></button>
      </div>
    </form>
      <div class="links">
        <button pButton type="button" label="Zaten üyeyseniz giriş yapınız." class="p-button-link" (click)="onGotoLogin()"></button>
        <button pButton type="button" label="Ana Sayfaya Dön" class="p-button-link" (click)="onBackToMain()"></button>
      </div>
    </div>
  </div>
  