<p-panel>
    <form [formGroup]="driverForm" class="user-form" (ngSubmit)="submitForm()">
      <div class="p-grid p-fluid">
          <input id="id" type="text" formControlName="id" hidden>
          <div class="p-col-12">
          <span class="p-float-label">
            <input id="name" type="text" formControlName="name" pInputText>
            <label for="name">Name</label>
          </span>
        </div>
        <div class="p-col-6">
          <button type="submit" pButton label="Save Changes" class="p-button-success"></button>
        </div>
      </div>
    </form>
    <p-messages></p-messages>
  </p-panel>