<app-shared-toolbar 
    (createEmitter)="createObj()" 
    (searchEmitter)="search()">
</app-shared-toolbar>

<p-table [value]="drivers" 
    styleClass="p-datatable-striped p-datatable-gridlines" 
    [rows]="20" [loading]="loading" [rowHover]="true"  >
    <ng-template pTemplate="header">
        <tr>
            <th>Adı</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-driver>
        <tr>
            <td>{{driver.name}}</td>
            <td>
                <app-action-buttons 
                    [obj]="driver" 
                    (updateEmitter)="updateObj($event)" 
                    (deleteEmitter)="deleteObj($event)">
                </app-action-buttons>
            </td>
        </tr>
    </ng-template>
</p-table>
<p-toast [life]="10000"/>
<p-confirmDialog />