<div style="min-width: 300px;max-width: 500px;margin: auto;">

<p-panel header="Change Password">
    <form [formGroup]="passwordForm" (ngSubmit)="submitForm()">
      <div class="p-grid p-fluid">
        <div class="p-col-12">
          <span class="p-float-label">
            <input id="currentPassword" type="password" formControlName="old_password" pPassword [feedback]="false">
            <label for="currentPassword">Current Password</label>
            <span *ngIf="passwordForm.get('old_password')?.errors?.['required'] && passwordForm.get('old_password')?.touched" class="p-error">
              Current Password is required.
            </span>
          </span>
        </div>
        <div class="p-col-12">
          <span class="p-float-label">
            <input id="newPassword" type="password" formControlName="new_password" pPassword [feedback]="false">
            <label for="newPassword">New Password</label>
            <span *ngIf="passwordForm.get('new_password')?.errors?.['required'] && passwordForm.get('new_password')?.touched" class="p-error">
              New Password is required.
            </span>
          </span>
          
        </div>
        <div class="p-col-12">
          <span class="p-float-label">
            <input id="confirmPassword" type="password" formControlName="confirm_password" pPassword [feedback]="false">
            <label for="confirmPassword">Confirm New Password</label>
            
            <span *ngIf="passwordForm.get('confirm_password')?.errors?.['required'] && passwordForm.get('confirm_password')?.touched" class="p-error">
              Confirmed Password is required.
            </span>
            <span *ngIf="passwordForm.get('confirm_password')?.errors?.['passwordMismatch']" class="p-error">
              Passwords don't match!
            </span>
          </span>
        </div>
        <!-- write minlength error here -->
        <div class="p-col-12">
          <span *ngIf="passwordForm.get('new_password')?.errors?.['minlength']" class="p-error">
            Password must be at least 6 characters long.
          </span> 
        </div>
        <div class="p-col-12">
          <button type="submit" pButton label="Change Password" [disabled]="passwordForm.invalid"></button>
        </div>
      </div>
    </form>
    <p-messages [value]="error_messages"></p-messages>
  </p-panel>
</div>
  