<div class="landing-page">
    <header class="hero">
      <div class="hero-content">
        <h1>Transfer Takip Sistemi</h1>
        <p>Rezervasyonlarınızı, acentelerinizi, taşeronlarınızı ve sürücülerinizi kolayca takip edin.</p>
        <button routerLink="/register" pButton type="button" label="Hemen Katıl" class="p-button-raised p-button-primary"></button>
        <button routerLink="/login" pButton type="button" label="Giriş Yap" class="p-button-raised p-button-secondary"></button>
      </div>
    </header>
  
    <main class="content">
      <section class="section">
        <i class="pi pi-calendar"></i>
        <h2>Müşteri Rezervasyonları</h2>
        <p>Rezervasyonlarınızı kolayca yönetin ve takip edin.</p>
      </section>
  
      <section class="section">
        <i class="pi pi-briefcase"></i>
        <h2>Acenteler</h2>
        <p>Acentelerinizin performansını izleyin ve yönetin.</p>
      </section>
  
      <section class="section">
        <i class="pi pi-users"></i>
        <h2>Taşeronlar</h2>
        <p>Taşeronlarınızın işlerini ve performanslarını takip edin.</p>
      </section>
  
      <section class="section">
        <i class="pi pi-car"></i>
        <h2>Sürücüler</h2>
        <p>Sürücülerinizin rotalarını ve performanslarını izleyin.</p>
      </section>
    </main>
  </div>
  