.user-form {
    width: 100%;
  }
  
  .p-panel {
    margin-bottom: 20px;
  }
  
  .p-float-label {
    width: 100%;
  }
  
  .p-button-success {
    width: 100%;
    margin-top: 10px;
  }
  
.profile-form-wrapper {
    min-width: 300px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

span {
    margin-top: 2rem;
}