<div class="profile-wrapper">

<p-panel header="User Profile">
    <div class="p-grid">
      <div class="p-col-12 p-md-4">
        <div class="profile-picture">
          <img src="assets/images/logo_resized.png" alt="Profile Picture">
        </div>
      </div>
      <div class="p-col-12 p-md-8">
        <div class="profile-details">
          <p>
            <strong>First Name:</strong> {{ user.first_name }}
          </p>
          <p>
            <strong>Last Name:</strong> {{ user.last_name }}
          </p>
          <p>
            <strong>Email:</strong> {{ user.email }}
          </p>
        </div>
      </div>
    </div>

    <div class="p-col-6" style="margin-left: 20%;">
      <p-button (click)="showProfileForm()" icon="pi pi-pencil" label="Bilgileri değiştir"  [outlined]="true" severity="contrast"></p-button>
    </div>
    
  </p-panel>
</div>
  